<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.StudentMapper">
    <!--    添加学员-->
    <insert id="insert">
        insert into student(name, no, gender, phone, id_card, is_college, address, degree, graduation_date, clazz_id,
                            create_time, update_time)
        VALUES (#{name}, #{no}, #{gender}, #{phone}, #{idCard}, #{isCollege}, #{address}, #{degree}, #{graduationDate},
                #{clazzId}, #{createTime}, #{updateTime})
    </insert>

    <!--    根据ID修改员工信息-->
    <update id="update">
        update student
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="no != null and no != ''">no = #{no},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="isCollege != null">is_college = #{isCollege},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="degree != null ">degree = #{degree},</if>
            <if test="graduationDate != null">graduation_date = #{graduationDate},</if>
            <if test="clazzId != null and clazzId != ''">clazz_id = #{clazzId},</if>
            <if test="violationCount != null">violation_count = #{violationCount},</if>
            <if test="violationScore != null">violation_score = #{violationScore},</if>
        </set>
        where id = #{id}
    </update>

    <!--    根据ID修改学员的违纪信息-->
    <update id="violation">
        update student
        set violation_count=ifnull(violation_count, 0) + 1
          , violation_score=ifnull(violation_score, 0) + #{score}
        where id = #{id}
    </update>

    <!--    删除学员数据-->
    <delete id="delete">
        delete
        from student
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 学生条件分页查询 -->
    <select id="list" resultType="org.example.pojo.Student">
        select s.*, c.name as clazzName
        from student s
        left join clazz c on s.clazz_id = c.id
        <where>
            <if test="name != null and name != ''">
                and s.name like concat('%', #{name}, '%')
            </if>
            <if test="degree != null">
                and s.degree = #{degree}
            </if>
            <if test="clazzId != null">
                and s.clazz_id = #{clazzId}
            </if>
        </where>
        order by s.update_time desc
    </select>

    <!--    根据ID查询学员信息-->
    <select id="getbyId" resultType="org.example.pojo.Student">
        select *
        from student
        where id = #{id}
    </select>

    <!--    统计学员的学历信息-->
    <select id="countStudentDegreeDataList" resultType="java.util.Map">
        select case
                   when degree = 1 then '初中'
                   when degree = 2 then '高中'
                   when degree = 3 then '大专'
                   when degree = 4 then '本科'
                   when degree = 5 then '硕士'
                   when degree = 6 then '博士'
                   else '其他' end name,
               count(*)            value
        from student
        group by degree
    </select>

    <!--    班级人数统计-->
    <select id="countStudentInClassData" resultType="java.util.Map">
        select c.name clazz, count(*) num
        from clazz c
                 left join student s on s.clazz_id = c.id
        group by c.name
    </select>

</mapper>
